{% extends 'base.html.twig' %}

{% block body %}
    <div class="pull-right" style="margin-bottom: 10px; margin-top: 10px;">
        <a href="{{ path('add_product') }}" class="btn btn-primary pull-right">Add new product<span class="fa"></span></a>
    </div>

    <div>
        <table xmlns="http://www.w3.org/1999/html" class="table table-bordered">
            <thead>
            <tr>
                <th>SKU</th>
                <th>NAME</th>
                <th>PRICE</th>
                <th>Operations</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.sku }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td>
                        <a href="{{ path('add_product_cart', {'productId': product.id}) }}">Buy</a>
                        <a href="{{ path('edit_product', {'id': product.id}) }}">Edit</a>
                        <a href="{{ path('remove_product', {'id': product.id}) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            <tbody>
        </table>
    </div>
{% endblock %}
